<!-- TODO JOEL cambiar las fotos -->
<figure class="snip1566">
  <img src="../../assets/logo/logo1.1.png" alt="sq-sample14" />
  <figcaption></figcaption>
  <!-- TODO regiriguir al componente correcto -->
  <a href="#"></a>
</figure>
<figure class="snip1566">
  <img src="../../assets/logo/logo1.1.png" alt="sq-sample17" />
  <figcaption></figcaption>
    <!-- TODO regiriguir al componente correcto -->
  <a href="#"></a>
</figure>
<figure class="snip1566">
  <img src="../../assets/logo/logo1.1.png" alt="sq-sample20" />
  <figcaption></figcaption>
    <!-- TODO regiriguir al componente correcto -->
  <a href="#"></a>
</figure>


