<figure class="snip1566">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample14.jpg" alt="sq-sample14" />
    <figcaption><i class="ion-android-add"></i></figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample19.jpg" alt="sq-sample17" />
    <figcaption><i class="ion-android-cart-outline"></i></figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample20.jpg" alt="sq-sample20" />
    <figcaption><i class="ion-android-stopwatch"></i></figcaption>
    <a href="#"></a>
  </figure>