<div class="card" *ngFor="let char of character">
    <div class="card-body">
      <p class="card-text"><span class="label agility">Agi:</span> <span class="value">{{ char.player_agi }}</span></p>
      <p class="card-text"><span class="label strength">Fue:</span> <span class="value">{{ char.player_str }}</span></p>
      <p class="card-text"><span class="label magic">Mag:</span> <span class="value">{{ char.player_mag }}</span></p>
      <p class="card-text"><span class="label defense">Vit:</span> <span class="value">{{ char.player_hp }}</span></p>
    </div>
  </div>
  