.card {

    top: 9%;

    position:fixed;
    left: 20px;
    width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


  }