

<div class="card" *ngFor="let char of character">
  <div class="card-body">
    <h4 class="card-text"><span class="label ability"></span> <span class="value">{{ char.name }}</span></h4>
    <p class="card-text"><span class="label strength">Nivel:</span> <span class="value">{{ char.player_lvl }}</span></p>
    <p class="card-text"><span class="label magic">Raza:</span> <span class="value">{{ char.race }}</span></p>
    <p class="card-text">
      <span class="label defense">Platines:</span>
      <span class="value">{{char.player_platines }}</span>
      <img src="../../../assets/gameCards/Platin.png" alt="Platines Image" class="platines-image">
    </p>
  </div>
</div>

