.inventory-container {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Adjust the desired maximum width */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 5%;
    overflow-y: auto; /* Enable vertical scrolling */
    height: 600px; /* Adjust the desired height for the scrollable area */
  
    /* Hide the scrollbar */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Thumb color, Track color */
  }
  
  .inventory-container::-webkit-scrollbar {
    width: 6px; /* Adjust the desired width */
    background-color: transparent; /* Set the scrollbar background color to transparent */
  }
  
  .inventory-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the scrollbar thumb color to transparent */
  }
  
  .inventory-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.inventory-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inventory-item {
  margin-bottom: 10px;
}

.inventory-item-name {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.inventory-item-card-lvl {
    color: #ffffff;
    font-size: 16px;
    margin-left: 5px; /* Add some left margin for separation */
  }
  
  .nivel-label {
    color: #ffffff;
    font-size: 16px;
    margin-left: 5px; /* Add some left margin for separation */
  }

.card-icon {
  width: 32px; /* Adjust the desired width */
  height: 32px; /* Adjust the desired height */
  margin-right: 5px; /* Adjust the desired spacing */
}

.inventory-item:hover {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0));
    border: 2px solid #ff0000; /* Shiny red border */
    border-radius: 6px;
    cursor: pointer;
  }

  .desk-flag {
    font-size: 18px; /* Adjust the desired font size */
    font-weight: bold;
  }



  
  
  
  

  
