<!-- Este Div hace de contenedor para la Barra de Navegación y sus opciones-->

<div class="container">
    <nav class="rounded navbar navbar-dark bg-dark justify-content-between">
        
        <!-- Cuando el logo/marca está presente en la Barra de Navegación, desde Bootstrap 
            se le suele aplicar la clase Nav-brand-->
        
            <a class="navbar-brand">
            
            <!--El logo/marca recibe la clase m-3, que es uno de los Margin (Espaciados) 
            determinados por Bootsrap con un número-->
            
            <h1 class="m-3">Let's Roll</h1>
        </a>


        <!-- ESTE ES EL DIV PARA EL BOTÓN DE LOGIN -->

        <div *ngIf="log">

            <!-- TODO hacer que el log revise si hay algún valor en usuario registrado -->

            <!-- El Form (Formulario) recible la clase "form-inline" para que muestre los
             elementos que contiene en una línea horizontal-->

            <form class="form-inline">

                <!-- La clase "btn-outline-secondary" crea un botón transparente con un delineado
                 gris. El "my-2" también pertenece al Margin pero define el espaciado en las
                 orientaciones Top y Bottom. -->
                   
                <button class="btn btn-outline-secondary my-2 my-sm-0">
                     <!--
                    <a [routerLink]="['/login']" class="nav-link"> Login </a>
                -->
                </button>


                <!-- ESTE ES EL DIV PARA EL BOTÓN DE REGISTRO -->

                <button class="btn m-3 btn-outline-secondary my-2 my-sm-0">
                   <!-- <a [routerLink]="['/register']" class="nav-link">
                        Register
                    </a>
                    -->
                </button>
            </form>
        </div>


        <!-- ESTE ES EL DIV PARA EL BOTÓN DE PERFIL DE USUARIO/TU CUENTA -->

        <div *ngIf="!log">
            <form class="form-inline">
                <button class="btn m-3 btn-outline-secondary my-2 my-sm-0">
                     <!--
                    <a [routerLink]="['/user']" class="nav-link">
                        Tu Cuenta
                    </a>
                -->
                </button>
            </form>

            <!-- ESTE ES EL DIV PARA EL BOTÓN DE SOBRE LET'S ROL/QUIENES SOMOS -->

        </div>
    </nav>
</div>