<!-- TODO JOEL cambiar las fotos -->

<!-- buscar partida -->
<figure class="snip1566">
  <img src="../../assets/logo/logo1.1.png" alt="sq-sample14" />
  <figcaption></figcaption>
  <!-- TODO redirigir al componente correcto -->
  <a   [routerLink]="[]"></a>
</figure>

<!-- Crear partida -->
<figure class="snip1566">
  <img src="../../assets/logo/logo1.1.png" alt="sq-sample17" />
  <figcaption></figcaption>
    <!-- TODO redirigir al componente correcto -->
  <a [routerLink]="['/newRun']"></a>
</figure>

<!-- personaje base -->
<figure class="snip1566">
  <img src="../../assets/logo/logo1.1.png" alt="sq-sample20" />
  <figcaption></figcaption>
    <!-- TODO redirigir al componente correcto -->
  <a   [routerLink]="['/baseCharacter']"></a>
</figure>


