<!-- NAVBAR -->
<app-navbar></app-navbar>
<!-- Seleccionar juego -->

<!-- Logo del juego -->

<!-- Listas de opciones -->

<div class="m-0 row justify-content-center">
  <div class="col-auto">
    <app-option-game-search-list></app-option-game-search-list>
    <!-- Lista de runs -->
  </div>
  <!--
        TODO hacer input para pasar json con la información de la run
        hacer que con el json se genere un grid con todos los juegos utilizando un ngfor
    -->
  <!-- TODO hacer ngfor que muestre todas  las runs y  centrar la lista en el centro de la web-->
  <app-run-list></app-run-list>
</div>
