<!-- NAVBAR -->
<app-navbar></app-navbar>
<!-- Seleccionar juego -->

<!-- Logo del juego -->

<!-- Listas de opciones -->

<div class="m-0 row justify-content-center">
  <div class="col-auto">
    <app-option-game-search-list></app-option-game-search-list>
    <!-- Lista de runs -->
  </div>
  <div class="container-flex">
    <form
      style="width: 270px"
      class=""
      [formGroup]="sendCode"
      (submit)="searchNewRanking()"
    >
      <div class="input-group">
        <!-- Campo de texto para ingresar el código de búsqueda -->
        <input
          type="text"
          id="run_password"
          class="run_password text-muted form-control input-group"
          placeholder="Entra el Código"
          aria-label="Escribe algo aquí"
          aria-describedby="basic-addon2"
          formControlName="run_password"
        />
        <div class="input-group-append">
          <!-- Botón para enviar el formulario de búsqueda -->
          <button type="submit" class="ms-3 me-3 p-3 btn btn-secondary">
            Buscar
          </button>
        </div>
      </div>
    </form>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />

  <div class="m-xxl-5 d-flex flex-wrap justify-content-center">
    <div *ngFor="let eq of runs" class="col-auto">
      <div [routerLink]="['/gamekh']">
        <app-run-list [inputValue]="eq"></app-run-list>
      </div>
    </div>
  </div>
  
</div>
