<div class="card-package-container">
  <div class="card-package">
    <h2>Llave espada</h2>
    <img
      src="../../../../assets/gameCards/Logo_Items_Ataque.png"
      alt="Paquete Básico"
      class="card-image"
    />
    <p>$10</p>
    <button (click)="compra('llavespada')">Comprar</button>
  </div>

  <div class="card-package">
    <h2>Objetos</h2>
    <img
      src="../../../../assets/gameCards/Logo_Items_Items.png"
      alt="Paquete de Edición Limitada"
      class="card-image"
    />
    <p>$20</p>
    <button (click)="compra('consumible')">Comprar</button>
  </div>

  <div class="card-package">
    <h2>Magias</h2>
    <img
      src="../../../../assets/gameCards/Logo_Items_Magic.png"
      alt="Paquete Premium"
      class="card-image"
    />
    <p>$30</p>
    <button (click)="compra('hechizo')">Comprar</button>
  </div>
</div>
