.body {
  font-family: segoe-ui_normal, Segoe UI, Segoe, Segoe WP, Helvetica Neue,
    Helvetica, sans-serif;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
  grid-template-rows: 80px 1fr 50px;
  grid-template-columns: 15% 1fr 18%;
  height: 100vh;
}

header {

  grid-area: header;
}

nav {
  background: #c9bfbf;
  grid-area: nav;
}

section {
  background: #ababab;
  grid-area: section;
}

aside {
  background: #c9c9c9;
  grid-area: aside;
}

