<section class="full">¿Quienes somos?</section>

<section class="banner">
  <div class="banner3d-1">
    <div class="banner3d-1-front">
     Tan solo somos un pequeño grupo de alumnos de un ciclo
    </div>
  </div>
</section>

<section class="mini"></section>

<section class="banner">
  <div class="banner3d-2">
    <div class="banner3d-2-front">
      No nos esperábamos terminar con un proyecto de este calibre
    </div>
  </div>
</section>

<section class="half">Sin experiencia, casi sin bases.<br>No obstante... no nos falta</section>

<section class="banner">
  <div class="banner3d-3">
    <div class="banner3d-3-front">
      LA DETERMINACIÓN
    </div>
  </div>
  <div class="image"></div>
</section>

<section class="half">Esto aquí aún no acaba</section>

<section class="banner">
  <div class="image2"></div>
  <div class="banner3d-4">
    <div class="banner3d-4-front">
      Por que,<br>mientras<br>que sigamos<br>programando...
    </div>
  </div>
</section>

<section class="full">Seguiremos mejorando.</section>