.container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  max-height: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 2px solid #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #333333;
  border: 1px solid #222222;
  font-family: "Courier New", monospace;
  color: #ffffff;
}

li:last-child {
  margin-bottom: 0;
}

li:before {
  content: "> ";
}

li:hover {
  background-color: #444444;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}
