.chat-container {
    position: fixed;
    bottom: 70px;
    left: 20px;
    width: 400px;
    height: 200px;
    max-height: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    scroll-behavior: smooth;
  }


  .input-text {
    position: fixed;
    bottom: 15px;
    left: 100px;
    width: 325px;
    max-height: 50px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid #333333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    scroll-behavior: smooth;

  }
  .button {
    left: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: -10px;
  }
  
  .button:hover {
    background-color: #555555;
  }
  
  