<div>
  <a href="https://front.codes/" class="logo" target="_blank"> Logo </a>
</div>

<div class="section body">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <h6 class="mb-0 pb-3">
            <span>Iniciar sesión</span>
            <span>Registrar</span>
          </h6>

          <input [checked]="regLog" class="checkbox" type="checkbox" id="regLog" name="regLog" />

          <label for="regLog"></label>


          <!-- Iniciar sesión -->

          <div class="card-3d-wrap mx-auto">

            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Iniciar sesión</h4>

                    <form (ngSubmit)="login()" [formGroup]="loginForm">
                      <input
                        type="email"
                        name="logemail"
                        class="form-style"
                        placeholder="Correo electrónico"
                        id="logemail"
                        autocomplete="off"
                        formControlName="email"
                      />
                      <i class="input-icon fa-solid fa-user-astronaut"></i>

                      <div class="form-group mt-2">
                        <input
                          type="password"
                          name="logpass"
                          class="form-style"
                          placeholder="Contraseña"
                          id="logpass"
                          autocomplete="off"
                          formControlName="password"
                        />


                        <i class="input-icon fa-solid fa-unlock-keyhole"></i>
                      </div>

                      <button type="submit" class="btn mt-4">Entrar</button>
                    </form>

                    <p class="mb-0 mt-4 text-center">
                      <a class="link">Perdiste la contraseña?</a>
                    </p>
                  </div>
                </div>
              </div>


              <!-- Registrar -->

              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Registrar</h4>
                    <form novalidate [formGroup]="user" (submit)="send()">
                      <div class="form-group">
                        <input
                          type="text"
                          name="nick"
                          class="form-style"
                          placeholder="Nombre"
                          formControlName="nick"
                          id="nick"
                          autocomplete="off"
                        />

                        <i class="input-icon fa-solid fa-user-ninja"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input
                          type="email"
                          name="email"
                          class="form-style"
                          placeholder="Email"
                          id="logemail"
                          autocomplete="off"
                          formControlName="email"
                        />

                        <i class="input-icon fa-solid fa-at"></i>
                      </div>

                      <div class="form-group mt-2">
                        <input
                          type="password"
                          name="password"
                          class="form-style"
                          placeholder="Contraseña"
                          id="password"
                          formControlName="password"
                          autocomplete="off"
                        />

                        <i class="input-icon fa-solid fa-lock"></i>
                      </div>

                      <button ng-class="{ 'disabled': user.invalid }" [disabled]="user.invalid" class="btn mt-4">

                        Registrar
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
